<a href="https://colab.research.google.com/github/Peckkie/Evaluation_Model_Prediction/blob/main/Evaluation_Case_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [176]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/USAI/Testdf_15ABrf.csv')
df

      Unnamed: 0  ...  Predict_15AB
0              0  ...     Incorrect
1              1  ...       Correct
2              2  ...     Incorrect
3              3  ...       Correct
4              4  ...     Incorrect
...          ...  ...           ...
1307        1307  ...       Correct
1308        1308  ...       Correct
1309        1309  ...       Correct
1310        1310  ...       Correct
1311        1311  ...       Correct

[1312 rows x 25 columns]

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1312 non-null   int64
 1   Case           1312 non-null   int64
 2   Abs Position   1312 non-null   object
 3   Sub Position   1312 non-null   object
 4   Class          1312 non-null   object
 5   Sub_class      1312 non-null   object
 6   Path Full      1312 non-null   object
 7   Path Crop      1312 non-null   object
 8   Views          1312 non-null   object
 9   fold           1312 non-null   int64
 10  tagName        1312 non-null   object
 11  originalImage  455 non-null    object
 12  left           455 non-null    float64
 13  top            455 non-null    float64
 14  width          455 non-null    float64
 15  height         455 non-null    float64
 16  Rleft          455 non-null    float64
 17  Rtop           455 non-null    float64
 18  Rwidth         455 non-null    float64
 19  Rheight        455 non-null    float64
 20  filename       1312 non-null   object
 21  15AB_category  1312 non-null   object
 22  15AB_Prob      1312 non-null   float64
 23  15AB_ProbAll   1312 non-null   object
 24  Predict_15AB   1312 non-null   object
dtypes: float64(9), int64(3), object(13)
memory usage: 256.4+ KB

In [23]:
#case = df['Case'].value_counts()
#case

In [24]:
#type(case)

In [26]:
#df_case = pd.DataFrame(case)
#df_case

In [27]:
#df_case.info()

In [7]:
df_g = df.groupby('Case').count()
df_g

      Unnamed: 0  Abs Position  ...  15AB_ProbAll  Predict_15AB
Case                            ...
1             49            49  ...            49            49
2             46            46  ...            46            46
3             12            12  ...            12            12
4             26            26  ...            26            26
7             13            13  ...            13            13
...          ...           ...  ...           ...           ...
440            1             1  ...             1             1
441            1             1  ...             1             1
442            1             1  ...             1             1
443            1             1  ...             1             1
458            1             1  ...             1             1

[144 rows x 24 columns]

In [22]:
df_g_re = df_g.reset_index(level=['Case'])
df_g_re

     Case  Unnamed: 0  Abs Position  ...  15AB_Prob  15AB_ProbAll  Predict_15AB
0       1          49            49  ...         49            49            49
1       2          46            46  ...         46            46            46
2       3          12            12  ...         12            12            12
3       4          26            26  ...         26            26            26
4       7          13            13  ...         13            13            13
..    ...         ...           ...  ...        ...           ...           ...
139   440           1             1  ...          1             1             1
140   441           1             1  ...          1             1             1
141   442           1             1  ...          1             1             1
142   443           1             1  ...          1             1             1
143   458           1             1  ...          1             1             1

[144 rows x 25 columns]

In [9]:
df_g2 = df.groupby(['Case', 'Class']).count()
df_g2

               Unnamed: 0  Abs Position  ...  15AB_ProbAll  Predict_15AB
Case Class                               ...
1    Abnormal          36            36  ...            36            36
     Normal            13            13  ...            13            13
2    Abnormal          34            34  ...            34            34
     Normal            12            12  ...            12            12
3    Normal            12            12  ...            12            12
...                   ...           ...  ...           ...           ...
440  Abnormal           1             1  ...             1             1
441  Abnormal           1             1  ...             1             1
442  Abnormal           1             1  ...             1             1
443  Abnormal           1             1  ...             1             1
458  Abnormal           1             1  ...             1             1

[162 rows x 23 columns]

In [21]:
df_g2_re = df_g2.reset_index(level=['Case', 'Class'])
df_g2_re

     Case     Class  Unnamed: 0  ...  15AB_Prob  15AB_ProbAll  Predict_15AB
0       1  Abnormal          36  ...         36            36            36
1       1    Normal          13  ...         13            13            13
2       2  Abnormal          34  ...         34            34            34
3       2    Normal          12  ...         12            12            12
4       3    Normal          12  ...         12            12            12
..    ...       ...         ...  ...        ...           ...           ...
157   440  Abnormal           1  ...          1             1             1
158   441  Abnormal           1  ...          1             1             1
159   442  Abnormal           1  ...          1             1             1
160   443  Abnormal           1  ...          1             1             1
161   458  Abnormal           1  ...          1             1             1

[162 rows x 25 columns]

In [53]:
c1 = df[(df['Case'] == 3)].reset_index(drop=True)
for i in range(len(c1)):
    if c1['Class'][i] == 'Abnormal':
       c1['Class'] = 'Abnormal'
    #elif c1['Class'][i] = 'Normal':
     #    c1['Class'] = 'Normal'

In [54]:
c1

    Unnamed: 0  ...  Predict_15AB
0          455  ...       Correct
1          456  ...       Correct
2          457  ...       Correct
3          458  ...       Correct
4          459  ...       Correct
5          460  ...       Correct
6          461  ...       Correct
7          462  ...       Correct
8          463  ...       Correct
9          464  ...       Correct
10         465  ...       Correct
11         466  ...       Correct

[12 rows x 25 columns]

In [55]:
c1.groupby(['Case', 'Class']).count()

             Unnamed: 0  Abs Position  ...  15AB_ProbAll  Predict_15AB
Case Class                             ...
3    Normal          12            12  ...            12            12

[1 rows x 23 columns]

In [178]:
df

      Unnamed: 0  ...  Predict_15AB
0              0  ...     Incorrect
1              1  ...       Correct
2              2  ...     Incorrect
3              3  ...       Correct
4              4  ...     Incorrect
...          ...  ...           ...
1307        1307  ...       Correct
1308        1308  ...       Correct
1309        1309  ...       Correct
1310        1310  ...       Correct
1311        1311  ...       Correct

[1312 rows x 25 columns]

In [ ]:
list_case = df_g_re['Case'].tolist()
print(len(list_case))
list_case

In [61]:
col_name_all = []
for col in df.columns:
    col_name = col
    col_name_all.append(col_name)
col_name_all

['Unnamed: 0',
 'Case',
 'Abs Position',
 'Sub Position',
 'Class',
 'Sub_class',
 'Path Full',
 'Path Crop',
 'Views',
 'fold',
 'tagName',
 'originalImage',
 'left',
 'top',
 'width',
 'height',
 'Rleft',
 'Rtop',
 'Rwidth',
 'Rheight',
 'filename',
 '15AB_category',
 '15AB_Prob',
 '15AB_ProbAll',
 'Predict_15AB']

In [203]:
df_case_change = pd.DataFrame(columns = col_name_all)
df_case_change['Class_tranf'] = ''
df_case_change

Empty DataFrame
Columns: [Unnamed: 0, Case, Abs Position, Sub Position, Class, Sub_class, Path Full, Path Crop, Views, fold, tagName, originalImage, left, top, width, height, Rleft, Rtop, Rwidth, Rheight, filename, 15AB_category, 15AB_Prob, 15AB_ProbAll, Predict_15AB, Class_tranf]
Index: []

In [205]:
for j in list_case :
    c1 = df[(df['Case'] == j)].reset_index(drop=True)
    for i in range(len(c1)):
        if c1['Class'][i] == 'Abnormal':
           c1['Class_tranf'] = 'Abnormal'
    df_case_change = df_case_change.append(c1).reset_index(drop=True)
       # else :
        #  c1['Class_tranf'] = c1['Class'][i]
    #df_case_change = df_case_change.append(c1).reset_index(drop=True)

In [206]:
df_case_change

     Unnamed: 0 Case  ... Predict_15AB Class_tranf
0           179    1  ...    Incorrect    Abnormal
1           180    1  ...      Correct    Abnormal
2           181    1  ...    Incorrect    Abnormal
3           182    1  ...    Incorrect    Abnormal
4           183    1  ...    Incorrect    Abnormal
...         ...  ...  ...          ...         ...
1307        445  440  ...      Correct    Abnormal
1308        432  441  ...      Correct    Abnormal
1309        448  442  ...      Correct    Abnormal
1310        443  443  ...      Correct    Abnormal
1311        430  458  ...      Correct    Abnormal

[1312 rows x 26 columns]

In [210]:
df_case_change["Class_tranf"].fillna("Normal", inplace = True)

In [211]:
df_case_change.groupby(['Case', 'Class_tranf']).count()

                  Unnamed: 0  Abs Position  ...  15AB_ProbAll  Predict_15AB
Case Class_tranf                            ...
1    Abnormal             49            49  ...            49            49
2    Abnormal             46            46  ...            46            46
3    Normal               12            12  ...            12            12
4    Abnormal             26            26  ...            26            26
7    Normal               13            13  ...            13            13
...                      ...           ...  ...           ...           ...
440  Abnormal              1             1  ...             1             1
441  Abnormal              1             1  ...             1             1
442  Abnormal              1             1  ...             1             1
443  Abnormal              1             1  ...             1             1
458  Abnormal              1             1  ...             1             1

[144 rows x 24 columns]

In [212]:
df_case_change.groupby(['Case', 'Class']).count()

               Unnamed: 0  Abs Position  ...  Predict_15AB  Class_tranf
Case Class                               ...
1    Abnormal          36            36  ...            36           36
     Normal            13            13  ...            13           13
2    Abnormal          34            34  ...            34           34
     Normal            12            12  ...            12           12
3    Normal            12            12  ...            12           12
...                   ...           ...  ...           ...          ...
440  Abnormal           1             1  ...             1            1
441  Abnormal           1             1  ...             1            1
442  Abnormal           1             1  ...             1            1
443  Abnormal           1             1  ...             1            1
458  Abnormal           1             1  ...             1            1

[162 rows x 24 columns]

In [217]:
 pd.isnull(df_case_change["Class_tranf"])

0       False
1       False
2       False
3       False
4       False
        ...
1307    False
1308    False
1309    False
1310    False
1311    False
Name: Class_tranf, Length: 1312, dtype: bool

In [213]:
df_case_change[(df_case_change['Case'] == 3)].reset_index(drop=True)

   Unnamed: 0 Case  ... Predict_15AB Class_tranf
0         455    3  ...      Correct      Normal
1         456    3  ...      Correct      Normal
2         457    3  ...      Correct      Normal
3         458    3  ...      Correct      Normal
4         459    3  ...      Correct      Normal
5         460    3  ...      Correct      Normal
6         461    3  ...      Correct      Normal
7         462    3  ...      Correct      Normal
8         463    3  ...      Correct      Normal
9         464    3  ...      Correct      Normal
10        465    3  ...      Correct      Normal
11        466    3  ...      Correct      Normal

[12 rows x 26 columns]

In [214]:
#ตาราง Original
df_case_change['filename'].value_counts()

P2C150.jpg            4
P4.1C150.jpg          2
P2C120.jpg            2
P5.1C150.jpg          2
P2C141.jpg            2
                     ..
AB01 P4-1 C090.JPG    1
AB02 P1 C030.JPG      1
AB01 P2 C032.JPG      1
P7-1.Case 225.JPG     1
AB01 P4-2 C054.JPG    1
Name: filename, Length: 1288, dtype: int64

In [215]:
df['filename'].value_counts()

P2C150.jpg            4
P2C102.jpg            2
P2C142.jpg            2
P2C141.jpg            2
P5.2C150.jpg          2
                     ..
AB02 P1 C030.JPG      1
AB01 P2 C032.JPG      1
P7-1.Case 225.JPG     1
P5.1C091.jpg          1
AB01 P4-2 C054.JPG    1
Name: filename, Length: 1288, dtype: int64

In [218]:
#Path Full
df['Path Full'].value_counts()

/media/tohn/HDD/VISION_dataset/USAI/US images case 301-350 for AI/P8/P8.Case 341.JPG                1
/media/tohn/HDD/VISION_dataset/USAI/US images for AI-1.3/P3.1 C101-C150/P3.1C142.jpg                1
/media/tohn/HDD/VISION_dataset/USAI/ABnormal01/10 ABNORMAL/AB10 P6-1 C001.JPG                       1
/media/tohn/HDD/VISION_dataset/USAI/US images for AI 2020-03-22/P5-2/P5-2.Case 205.JPG              1
/media/tohn/HDD/VISION_dataset/USAI/US images case 301-350 for AI/P1/P1.Case 309.JPG                1
                                                                                                   ..
/media/tohn/HDD/VISION_dataset/USAI/US images for AI 2020-03-22/P6-1/P6-1.Case 226.JPG              1
/media/tohn/HDD/VISION_dataset/USAI/US images for AI-1.2/P2 C061-C100/P2C092.jpg                    1
/media/tohn/HDD/VISION_dataset/USAI/ABnormal01/8.2,8.3 ABNORMAL/8-2 ABNORMAL/AB082 P6-2 C065.JPG    1
/media/tohn/HDD/VISION_dataset/USAI/ABnormal01/1 ABNORMAL/AB01 P3-1 C068.JPG                        1
/media/tohn/HDD/VISION_dataset/USAI/ABnormal01/1 ABNORMAL/AB01 P5-2 C066.JPG                        1
Name: Path Full, Length: 1312, dtype: int64

In [216]:
print(len(df))
print(len(df_case_change))

1312
1312

In [ ]:
df_case_change = df_case_change.sort_values(by=['Case']).reset_index(drop=True)
df_case_change

In [ ]:
df_case_tranf = df_case_change[['Case', 'Class', 'filename']]
df_case_tranf

In [ ]:
df_case_tranf.rename({'Case': 'Case_tranf', 'Class': 'Class_tranf'}, axis=1, inplace=True)
df_case_tranf

In [ ]:
df.groupby(['Case', 'Class']).count()

In [ ]:
#ตารางต้นฉบับ
df_sotrt = df.sort_values(by=['Case']).reset_index(drop=True)
df_sotrt

In [ ]:
#ตารางต้นฉบับ
df_sotrt.groupby(['Case', 'Class']).count()

In [155]:
merge = df_sotrt.merge(df_case_tranf, left_on='filename', right_on='filename_tranf')

In [168]:
merge

      Unnamed: 0  Case Abs Position  ... Predict_15AB Case_tranf Class_tranf
0            211     1           P6  ...    Incorrect          1    Abnormal
1            193     1           P5  ...      Correct          1    Abnormal
2            192     1           P4  ...      Correct          1    Abnormal
3            191     1           P2  ...      Correct          1    Abnormal
4            190     1           P5  ...      Correct          1    Abnormal
...          ...   ...          ...  ...          ...        ...         ...
1361         445   440           P7  ...      Correct        440    Abnormal
1362         432   441           P7  ...      Correct        441    Abnormal
1363         448   442           P7  ...      Correct        442    Abnormal
1364         443   443           P7  ...      Correct        443    Abnormal
1365         430   458           P7  ...      Correct        458    Abnormal

[1366 rows x 27 columns]

In [164]:
merge = df_sotrt.merge(df_case_tranf, how='inner', on='filename')

In [166]:
merge.groupby(['Case_tranf', 'Class_tranf']).count()

                        Unnamed: 0  Case  ...  15AB_ProbAll  Predict_15AB
Case_tranf Class_tranf                    ...
1          Abnormal             49    49  ...            49            49
2          Abnormal             46    46  ...            46            46
3          Normal               12    12  ...            12            12
4          Abnormal             26    26  ...            26            26
7          Normal               13    13  ...            13            13
...                            ...   ...  ...           ...           ...
440        Abnormal              1     1  ...             1             1
441        Abnormal              1     1  ...             1             1
442        Abnormal              1     1  ...             1             1
443        Abnormal              1     1  ...             1             1
458        Abnormal              1     1  ...             1             1

[144 rows x 25 columns]

In [170]:
merge['filename'].value_counts()

P2C150.jpg            16
P5.2C150.jpg           4
P2C120.jpg             4
P2C141.jpg             4
P2C101.jpg             4
                      ..
AB01 P4-1 C090.JPG     1
AB02 P1 C030.JPG       1
AB01 P2 C032.JPG       1
P7-1.Case 225.JPG      1
AB01 P4-2 C054.JPG     1
Name: filename, Length: 1288, dtype: int64

In [174]:
merge[(merge['filename'] == 'P2C120.jpg')]

     Unnamed: 0  Case Abs Position  ... Predict_15AB Case_tranf Class_tranf
632         767   120           P2  ...      Correct        120      Normal
633         767   120           P2  ...      Correct        120      Normal
634         765   120           P2  ...      Correct        120      Normal
635         765   120           P2  ...      Correct        120      Normal

[4 rows x 27 columns]

In [167]:
df_case_change.groupby(['Case', 'Class']).count()

               Unnamed: 0  Abs Position  ...  15AB_ProbAll  Predict_15AB
Case Class                               ...
1    Abnormal          49            49  ...            49            49
2    Abnormal          46            46  ...            46            46
3    Normal            12            12  ...            12            12
4    Abnormal          26            26  ...            26            26
7    Normal            13            13  ...            13            13
...                   ...           ...  ...           ...           ...
440  Abnormal           1             1  ...             1             1
441  Abnormal           1             1  ...             1             1
442  Abnormal           1             1  ...             1             1
443  Abnormal           1             1  ...             1             1
458  Abnormal           1             1  ...             1             1

[144 rows x 23 columns]

In [184]:
uniqueValues = merge['filename'].unique()

In [185]:
uniqueValues

array(['AB082 P6-2 C001.JPG', 'AB04 P5-1 C001.JPG', 'AB04 P4-2 C001.JPG',
       ..., 'FP D P7-2 Case 284.JPG.png', 'FP D P7-2 Case 285.JPG.png',
       'FP D P7-2 Case 300.JPG.png'], dtype=object)

In [186]:
len(uniqueValues)

1288

In [151]:
filename_case_tranf = df_case_tranf['filename_tranf'].tolist()
#filename_case

In [130]:
filename_case_df = df_sotrt['filename'].tolist()
#filename_case_df

In [ ]:
for i, j in zip(filename_case_tranf, filename_case_df) :
    if i == j :
       print('Case ตรงกัน')
    else :
       print('Case ไม่ตรงกัน')

TypeError: ignored